@font-face {
  font-family: "Segoe WP";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe WP"), url("./assets/fonts/SegoeWP.woff") format("woff");
}

@font-face {
  font-family: "Lucida Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Regular"), url("./assets/fonts/LSANS.woff") format("woff");
}

body {
  max-width: 1300px;
  background-image: url("./assets/images/header-background.png");
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

body .wrapper {
}

header {
  display: flex;
  height: 140px;
  justify-content: space-between;
  margin-top: 28px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo h1 {
  display: inline-block;
  font-size: 41px;
  line-height: 94px;
  margin-left: 10px;
  color: #ffffff;
  font-family: "Lucida Sans", sans-serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navbar {
  height: 50px;
  width: 462px;
  margin-top: 34px;
}

.navbar ul {
  display: flex;
  background-image: url("assets/images/navbar.svg");
}

.navbar ul li {
  display: block;
  margin-top: 9px;
  border-right: 1px solid #b99403;

  text-align: center;
  line-height: 41px;
}

.navbar img {
  height: 100%;
  vertical-align: middle;
}

.navbar a {
  height: 100%;
  vertical-align: middle;
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:hover {
  color: red;
}

.navbar .contacts li {
  border-right: none;
}

.about-us {
  width: 183px;
}

.services {
  width: 133px;
}

.contacts {
  width: 146px;
  margin-left: 0;
}
